.main-header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
  background-color: rgba(83, 0, 128, 0.437);
  background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
}

h2 {
  color: #ffffff;
}