.new-tweet {
  width:100%;
  padding: 1.5em;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

textarea {
  flex: 100%;
  font-weight: bold;
  color: #545149;
  background: transparent;
  outline: none;
  height: 50px;
  border: none;
  border-bottom: solid 5px #545149;
  margin-top: 2em;
  margin-bottom: .5em;
}

::placeholder {
  color: #545149;
}

button {
  font-family: 'Bungee';
  background-color: #4056A1;
  color: #ffffff;
}

.counter {
  font-family: 'Bungee';
  right: 0;
}

.footer-form {
  display:flex;
  justify-content: space-between;
  width: 100%
}
