.new-tweet {
  width:100%;
  padding: 1.5em;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

textarea {
  flex: 100%;
  font-weight: bold;
  color: #545149;
  background: transparent;
  outline: none;
  height: 50px;
  border: none;
  border-bottom: solid 5px #545149;
  margin-top: 2em;
  margin-bottom: .5em;
}

::placeholder {
  color: #545149;
}

button {
  font-family: 'Bungee';
  background-color: #4056A1;
  color: #ffffff;
}

.counter {
  font-family: 'Bungee';
  right: 0;
}

.footer-form {
  display:flex;
  justify-content: space-between;
  width: 100%
}

.error-message {
  border: 2px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	max-width: 460px;
  color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.hide {
  display: none
}