.tweet:hover {
  box-shadow: 5px 5px rgba(83, 0, 128, 0.252);
}

.tweet {
  border: 5px solid #545149;
  padding: 1em;
  margin: 1.5em 1.5em;
}

#tweet-container {
  width: 100%;
}

/* Top part of each tweet */
.user-name {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 1em;
}

/* div holding user avatar and name */
.user-name > div {
  display:flex;
  flex-direction: row;
}

/* user name */
.user-name > div > span {
  padding-right: 0.5em;
}

/* user handle */
.handle {
  color: rgb(177, 175, 175);
  position: relative;
  right: 0;
}

/* Body of each tweet */
.content {
  margin: .5em 0;
  padding: 1.5em;
  font-size: 100%;
  border-bottom: 5px solid #545149;
  overflow-wrap: break-word;
}

/* Bottom part of each tweet */
.tweet-footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 1em;
  font-size: 18px;
  align-items: center;
}

/* three icons at the bottom of each tweet */
.tweet-footer > div {
  float: right;
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#flag:hover{
  color: rgba(83, 0, 128, 0.728);
}

#retweet:hover{
  color: rgba(83, 0, 128, 0.728);
}

#heart:hover{
  color: rgba(83, 0, 128, 0.728);
}
